KANBAN_REPOSITORY=memory
SQLITE_PATH=./data/kanban.db

APPWRITE_ENDPOINT=https://<REGION>.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=your_appwrite_project_id
APPWRITE_AUTH_API_KEY=your_server_side_key_with_sessions_write
APPWRITE_DB_API_KEY=your_server_side_key_with_tablesdb_and_columns_indexes_scopes
APPWRITE_DB_ID=todo
APPWRITE_DB_NAME=Todo
APPWRITE_BOARDS_COLLECTION_ID=boards
APPWRITE_COLUMNS_COLLECTION_ID=columns
APPWRITE_TODOS_COLLECTION_ID=todos
LOG_WARN_MB=5
LOG_MAX_MB=10
